body {
    background: #ddd;
}

.chat-container {
    max-height: 600px;
    overflow-y: scroll;
    padding: 0px 1.5rem;
}

.chat-message {
    margin-bottom: 1.5rem;
    display: inline-block;
}

.chat-message.me {
    background: #dcf8c6;
}